.button-container {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e0e0e0;
  font-family: Arial, sans-serif;
}

button {
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #cccccc;
  color: white;
  border-radius: 0;
  transition: background-color 0.3s;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

button:hover {
  background-color: #aaaaaa;
}

.square-count {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #333;
  font-family: Arial, sans-serif;
}

.skills {
  margin-top: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
  padding: 0 10px;
}

.skills button {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #cccccc;
  color: white;
  border-radius: 0;
  transition: background-color 0.3s, opacity 0.3s;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.skills button i {
  margin-right: 8px;
}

.skills button .skill-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.skills button .skill-description {
  font-size: 12px;
  color: #ddd;
  margin-top: 5px;
  width: 100%;
  text-align: left !important;
  font-style: italic;
}

.skills button:disabled {
  background-color: rgba(136, 136, 136, 0.5);
  cursor: not-allowed;
}

.skills button:not(:disabled) {
  background-color: #007bff;
}

.skill-list {
  padding: 10px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.skill-item h3 {
  display: flex;
  align-items: center;
}

.skill-item i {
  margin-right: 8px;
  color: #007bff; /* Couleur de l'icône */
}

.float-end {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
.float-end i {
  margin-left: 10px;
}
