/* You can add global styles to this file, and also import other style files */

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Empêche le défilement */
  height: 100%;
}

.game-container {
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
}

.play-area {
  width: 80vw; /* Utilisation de vw pour s'assurer que ça prend 80% de la largeur de la fenêtre */
  height: 100vh; /* Utilisation de vh pour s'assurer que ça prend 100% de la hauteur de la fenêtre */
  background-color: #000000; /* Fond noir */
  border-right: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  width: 20vw; /* Utilisation de vw pour s'assurer que ça prend 20% de la largeur de la fenêtre */
  height: 100vh; /* Utilisation de vh pour s'assurer que ça prend 100% de la hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #e0e0e0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
